<%- include("partials/header.ejs") %>

    <div class="container">
    <form action="/post" method="post">
        <div class="mb-3">
            <label for="Titulo" class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo">
        </div>
        <div class="mb-3">
            <label for="Texto" class="form-label">Compartilhe suas ideias com a gente.</label>
            <textarea class="form-control" name="texto"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publicar</button>
    </form>
    </div>

<%- include("partials/footer.ejs") %>
